$border-color: #000;
$primary-color: #fafafa;
$bg-color: #2f3136;
$bg-color-bright: #36393f;
$bg-color-dark: #202225;
$hover-color: #3f434a;
$accent-color-dark: #202225;
$accent-color-bright: #b1b4b8;
$gutter: 30px;

$breakpoint-lg: 1230px;
